<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="log.path">${main:0}</Property>
    </Properties>

    <Appenders>
        <File name="Logfile" fileName="${log.path}/plugin.log" append="false">
            <PatternLayout>
                <pattern>
                    %d %-5p %c{1} %m%n
                </pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <logger name="io.github.reboot.tvbrowser" level="debug" />
        <logger name="io.github.reboot.trakt" level="debug" />
        <Root level="info">
            <AppenderRef ref="Logfile" />
        </Root>
    </Loggers>

</Configuration>